@import "../../styles/theme.scss";

.root {
  min-width: 3.3em;

  .counter_button {
    width: 1em;
    height: 1em;
    cursor: pointer;
    color: $btn;
    background-color: transparent;
    border: solid 2px $btn;
    font-size: 1em;
    font-weight: normal;
    border-radius: 4px;
    padding: 0 0;
    line-height: 0.7em;

    &:hover {
      border-color: $btn-hover;
      color: $btn-hover;
      transition: 200ms;
    }

    &.disabled {
      cursor: default;
      color: $disabled-element;
      background-color: transparent;
      border: solid 2px $disabled-element;
    }
  }

  .count {
    margin: auto 0.2em;
    min-width: 0.7em;
    display: inline-block;
    text-align: center;
  }
}
