@import "../../../styles/theme.scss";

.root {
  background-color: $bg-primary;
  margin-bottom: 20px;
//   display: flex;
//   align-items: center;

  .front_img__container {
    display: flex;
    justify-content: center;

    .front_img {
      max-width: 95%;
      max-height: 95%;
      padding: 1em;
    }
  }
}
