.root {
  h2 {
    text-transform: uppercase;
    color: #ac3b61;
    margin-bottom: 1rem;
    text-align: center;
  }

  h3 {
    color: #ac3b61;
    margin: 0 0 5px 25px;
  }

  ul {
    margin-top: 0;
  }

  p {
    margin-left: 0.5rem;
    margin-top: 0.1rem;
    font-style: italic;
    color: darkslategray;
  }
}
