@import "theme";
 
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-secondary;
}

body {
  margin: 0;
}

input {
    font-size: 1rem;
    color: #4b5563;
    background: #ffffff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #d1d5db;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 6px;
}

input:enabled:hover {
  border-color: $input-border;
}

input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem $input-border-shadow;
  border-color: $input-border;
}

button {
  background-color: $btn-element;
  color: $bg-primary;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
  font-size: large;
  height: 35px;
  cursor: pointer;

  &:hover {
    background-color: $btn-element-hover;
    transition: 200ms;
  }

  &.selected {
    background-color: $btn-element-selected;
  }
}

.main {
  max-width: 50%;
  margin: 0 auto;
  background-color: $bg-primary;
  color: $text-primary;
  padding: 1rem 2rem;
  border-radius: 0.7em;
}

.form_group {
  margin-bottom: 0.5em;
  display: flex;

  label {
    padding-right: 1em;
    width: 25%
  }
  input{
    width: 75%;
  }
}
