@import "theme";
 
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-secondary;
}

body {
  margin: 0;
}

.main {
  max-width: 50%;
  margin: 0 auto;
  background-color: $bg-primary;
  color: $text-primary;
  padding: 1rem 2rem;
  border-radius: 0.7em;
}
