$bg-primary: #eee2dc;
$bg-secondary: #edc7b7;
$text-primary: #123c69;
$text-secondary: darkslategray;
$header: #ac3b61;
$border: lightgray;
$btn-element: #ac3b61;
$btn-element-hover: #862e4c;
$btn-element-selected: #cb688a;
$disabled-element: gray;
$input-border: #ac3b61;
$input-border-shadow: #e5b4c5;
$input-disabled: #eae5e5;
$section-border: #e5b4c5;