$bg-primary: #eee2dc;
$bg-secondary: #edc7b7;
$text-primary: #123c69;
$text-secondary: darkslategray;
$header: #ac3b61;
$border: lightgray;
$btn-element: #ac3b61;
$btn-element-hover: #862e4c;
$btn-element-selected: #cb688a;
$disabled-element: gray;

// #732741
// #862e4c
// #993456
// #ac3b61
// #be426c
// #c5557b
// #cb688a