@import "../../styles/theme.scss";

.root {
  background-color: $bg-primary;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  .logo_container {
    width: 25%;
    display: flex;
    justify-content: center;

    .logo {
      max-width: 100px;
      max-height: 100px;
      padding: 1em;
      // svg {
      //   path {
      //     stroke: $header;
      //     fill: $header;
      //   }
      // }
    }
  }

  .main_header {
    font-size: 48px;
    font-weight: 700;
    color: $header;
    width: 50%;
  }

  .login_container {
    width: 25%;
    display: flex;
    justify-content:center
  }
}
