.root {
    background-color: #eee2dc;
    color: gray;
    padding-bottom: 0.4rem;

    .footer_body {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}

