@import "../../styles/theme.scss";

.root {
    background-color: $bg-primary;
    color: gray;
    padding: 3px 0 3px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    border-top: solid 1px $border;
}

