@import "../../styles/theme.scss";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cart_container {
    padding-right: 1.5em;
  }

  .username {
    padding-right: 1em;
    color: $text-primary;
    font-weight: bold;
    width: 50%;
  }

  .login_btn {
    display: inline-block;
    text-align: right;
  }
}
